nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: floralwhite;
    padding: 0.1rem;
    z-index: 50;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

    nav div {
        display: flex;
        align-items: center; 
    }

    nav a {
        margin-right: 1rem;
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

        nav a:hover {
            text-decoration: underline;
        }

.pt-16 {
    padding-top: 4rem;
}
